.home-screen {
    width: 414px;
    /* Original width */
    height: 896px;
    /* Original height */
    background: #FAFAFA;
    border-radius: 32px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
    /* Optional shadow */
    transform: scale(0.8);
    /* Scale down to 90% */
    transform-origin: center;
    /* Scale from the center */
}

.header {
    position: absolute;
    width: 386px;
    height: 48px;
    left: 14px;
    top: 48px;
    display: flex;
    align-items: center;
}

.icon {
    width: 21.76px;
    height: 16.71px;
    background: #3A697B;
    margin-right: auto;
}

.home-text {
    font-family: 'SF Pro Text';
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #3A697B;
    letter-spacing: 1px;
    flex: 1;
}

.image {
    width: 48px;
    height: 48px;
    background: #DCF2FB;
    border-radius: 24px;
}

.welcome-text h2 {
    font-family: 'SF Pro Text';
    font-size: 22px;
    color: #3A697B;
}

.welcome-text p {
    font-family: 'SF Pro Text';
    font-size: 12px;
    color: #8CA1A9;
}

.card {
    position: absolute;
    width: 386px;
    height: 239px;
    left: 14px;
    top: 204px;
    background: linear-gradient(135deg, #84E5D5 0%, #5C99D6 100%);
    border-radius: 8px;
    padding: 0px;
    color: #FFFFFF;
}

.balance-text {
    font-size: 12px;
    color: #D1E4FD;
}

.tab-menu {
    position: absolute;
    width: 414px;
    height: 34px;
    left: 0px;
    top: 832px;
    background: #FFFFFF;
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
}